/* system structures */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 40px;
}
@media (max-width: 992px) {
  .grid-2 {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}

.section {
  padding: 100px 0;
}

.flex {
  display: flex;
}

.gap-3 {
  gap: 15px;
}

.mt-4 {
  margin-top: 20px;
}