:root {
  --bg-main: #f7f7f7;
  --bg-soft: #ffffff;

  --text-dark: #111111;
  --text-light: #666666;

  --gold-primary: #c6a86b;
  --gold-soft: #e5c88c;

  --text-gradient: linear-gradient(90deg, #3c74fe, #2d64ef, #9b5cff);

  --border-light: #e6e6e6;

  --accent-light: #e5c88c;

  --accent: #080c3c;
  --accent-rgb: 155,92,255;

  --bg-mesh-opacity: 0.08;
}

/* url(../../avatar_gradient.png) */