<footer class="footer">

  <!-- CTA -->
  <div class="cta container reveal-cta">
    <div class="cta-left">
      <p class="badge">LET’S CONNECT</p>

      <h2>
        Let’s Build Something Meaningful
        <span class="gold-text">Together.</span>
      </h2>

      <p class="muted">
        I work with ambitious founders and communities to create lasting impact.
      </p>

      <div class="flex gap-3 mt-4">
        <a href="/contact.html">
          <button class="btn btn-dark arrow-btn">
          Get In Touch
          <span class="arrow-icon">&rarr;</span>
        </button>
        </a>
        <a href="/about.html">
          <button class="btn btn-outline arrow-btn">
          View My Journey
          <span class="arrow-icon">&rarr;</span>
        </button>
        </a>
      </div>
    </div>
  </div>

  <!-- MAIN FOOTER -->
  <div class="footer-main container">

    <div class="footer-col">
      <h3>RAJENDRA SWAIN</h3>
      <p class="muted">
        Building businesses, empowering communities, and creating financial growth.
      </p>
    </div>

    <div class="footer-col">
      <h4>Navigation</h4>
      <a href="/about.html">About</a>
      <a href="/companies.html">Companies</a>
      <a href="/services.html">Services</a>
    </div>

    <div class="footer-col">
      <h4>Services</h4>
      <a href="/services.html">Finance</a>
      <a href="/services.html">Business</a>
      <a href="/services.html">Leadership</a>
    </div>

    <div class="footer-col">
      <h4>Contact</h4>
      <p><a href="mailto:swain.rs009@gmail.com">swain.rs009@gmail.com</a></p>
      <p><a href="tel:+919668970995">+91 9668970995</a></p>
      <p>India</p>
    </div>

  </div>

  <!-- BOTTOM -->
  <div class="footer-bottom container">
    <small>© <span id="year"></span> <a href="https://www.instagram.com/rajendraswainofficial" target="_blank">Rajendra Swain</a></small>
    <div>
      <!-- <span>Privacy</span>
      <span>Terms</span> -->
      <small class="badge">Crafted by <a href="http://www.linkedin.com/in/jay-prakash-671b9b20a" target="_blank">
        <strong>Jay Prakash</strong>
      </a></small>
    </div>
  </div>

</footer>