<header class="navbar">
  <div class="container nav-inner">

    <a href="/" class="logo">
      <span class="dot"></span>
      <strong>RAJENDRA SWAIN</strong>
      <span class="sub">Entrepreneur</span>
    </a>

    <nav class="nav">
      <a href="/about.html">About</a>
      <a href="#">Companies</a>
      <a href="#">Journey</a>
      <a href="#">Services</a>
      <a href="/contact.html">Contact</a>

    <div id="social-bar"></div>
    </nav>

     <div class="nav-right">
      <button class="btn btn-dark arrow-btn">
        Talk to Me 
        <span class="arrow-icon">&rarr;</span>
      </button>
      <div class="menu-toggle">☰</div>
    </div>
  </div>
</header>